body {
    background-image: url('../images/desktop.jpg');
    background-color: cadetblue;
}

nav {
    color: #79775f;
    height: 40px;
    font-size: 25px;
    background-color: black;    
}

h1{
    color: black;
    background-color: cadetblue;
    font-size:50px;
    text-align: center;
    
}

nav :hover {
    color:whitesmoke;
}

